html, body {
	margin: 0;
	padding: 0;
	}
	
body {
	background-color: #f7f7f7;
	font-family: "museo-sans-1", "museo-sans-2", Museo Sans, Helvetica, Arial, sans-serif;, sans-serif;
	font-weight: 300;
	color: #222222;
	line-height: 150%;
	font-size: 1.3rem;
	}

::selection {
	background-color: #2980b9;
	color: #ecf0f1;
	}
	
img {
  max-width: 100%;
}

	
/* Home */
.graph {
	background-image: url('img/notebook-edge.png'), url('img/graphpaper.jpg');
	background-repeat: repeat-y, repeat;
	padding-left: 50px;
	padding-bottom: 50px;
	}

.home--hi {
	display: block;
	width: 800px;
	margin-top: 30px;
}

.home--draw {
	display: block;
	width: 650px;
	margin-top: 30px;
	margin-left: 60px;
}

.home--know {
	display: block;
	width: 650px;
	margin-top: 30px;
	margin-left: 60px;
}

.home-link {
	display: block;
	background-size: 100% auto;
	background-position: top center;
	margin-top: 40px;
	color: transparent;
}

.home-link:hover {
	background-position: bottom center;
}

.home-link--candy {
	width: 800px;
	height: 123px;
	background-image: url('img/candy.png');
}

.home-link--upside {
	width: 650px;
	height: 133px;
	background-image: url('img/upside.png');
}

.home-link--oversubscribed {
	width: 642px;
	height: 120px;
	background-image: url('img/oversubscribed.png');
}

.home-link--new-yorker {
	width: 650px;
	height: 88px;
	background-image: url('img/new-yorker.png');
	margin-top: 50px;
}

.home-link--new-yorker:hover {
	background-position: center bottom 1px;
}

.home-link--talk-media {
	width: 790px;
	height: 135px;
	background-image: url('img/talk-media.png');
}

.home-link--about {
	width: 454px;
	height: 90px;
	background-image: url('img/about.png');
	background-position: bottom center;
}

.home-link--about:hover {
	background-position: top center;
}

.home--signature {
	display: block;
	width: 250px;
	float: right;
	margin-bottom: 20px;
	margin-right: 20px;
}

	
/* Pages */

h1, h2, h3 {
	font-family: "brandon-grotesque-1", "brandon-grotesque-2", Brandon Grotesque, Helvetica, Arial;
	line-height: 130%;
	}
	
h1 {
	font-size: 250%;
	}
	
.tiny {
	font-size: 85%;
	}
	
p a {
	color: #2980b9;
	padding-top: 3px;
	text-decoration: none;
	}
	
p a:hover {
	color: #b4daee;
	background-color: #0a4683;
	text-decoration: none;
	}
	
.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin: 20px 0;
	}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}

.corner-colors {
	position: fixed;
	top: 0;
	left: 0;
	background-image: url('img/corner-colors-1.png');
	background-size: 100% auto;
	background-position: top left;
	background-repeat: no-repeat;
	width: 300px;
	height: 257px;
	z-index: 10;
	}
	
.corner-colors-2 {
	position: fixed;
	bottom: 0;
	right: 0;
	background-image: url('img/corner-colors-2.png');
	background-size: 100% auto;
	background-position: top left;
	background-repeat: no-repeat;
	width: 300px;
	height: 257px;
	z-index: 10;
	}
		
.corner-colors a,
.corner-colors a:hover {
	display: block;
	width: 50%;
	height: 50%;
	}
	
.page-container {
	margin: 50px 0 0 230px;
	max-width: 770px;
	}
	
.page-container--standard-image {
	width: 100%;
	max-width: 600px;
	border: 1px solid #bcb5be;
	}
	
.page-container--cool-hr {
	max-width: 90%;
	margin: 30px auto;
	}
	
.talks-media-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	max-width: 750px;
	text-align: center;
}

.talks-media-grid--item {
	font-size: 1.2rem;
	line-height: 1.4;
}
	
.talks-header {
  margin-left: 10px;
}

.talk-box--image {
	width: 350px;
	max-width: 90%;
	border: 2px solid #bbb5bd;
	transition: all .1s ease;
	margin-bottom: -15px;
	}
	
.talk-box--image:hover {
	border-color: #c77195;
	opacity: 0.9;
	}
	
.new-yorker-caption {
	display: block;
	margin: 0 auto;
	width: 500px;
	border: 1px solid black;
}


/* Responsive */
@media (max-width: 1200px) {
	.corner-colors,
	.corner-colors-2 {
		width: 200px;
		height: 169px;
		}
		
	.page-container {
	  margin: 40px 0 0 160px;
  }
  
  .essay-talk-box--diary {
    width: 450px;
    height: 279px;
  }	

  .essay-talk-box--media {
    width: 420px;
    height: 363px;
  }	

}

@media screen and (max-width: 1000px) {
	body {
		font-size: 1.2rem;
		}

	.about-me {
		margin-left: 0;
		}
		
	.essay-talk-box {
		margin-left: 0;
		}
		
	.essay-talk-box--talk {
		margin-top: 30px;
		}
	
	.corner-colors,
	.corner-colors-2 {
		width: 150px;
		height: 127px;
		}
		
	.page-container {
		margin: 50px 150px;
		}
		
	.essay-talk-box--diary {
    width: 300px;
    height: 186px;
  }	

  .essay-talk-box--media {
    width: 320px;
    height: 277px;
  }	

} /* end 1000px */

@media (max-width: 900px) {
	.home--hi, .home--draw, .home--know {
		max-width: 95%;
	}
	
	.home--draw,
	.home--know {
		margin-left: 0;
	}
	
	.home-link--candy {
		width: 600px;
		height: 92px;
	}
	
	.home-link--upside {
		width: 600px;
		height: 123px;
	}
	
	.home-link--oversubscribed {
		width: 600px;
		height: 112px;
	}
	
	.home-link--new-yorker {
		width: 600px;
		height: 81px;
	}
	
	.home-link--talk-media {
		width: 600px;
		height: 103px;
	}
}

@media screen and (max-width: 760px) {
	
	.page-container {
		margin: 20px 120px;
		}
		
}

@media (max-width: 660px) {	
	.home-link--candy {
		width: 450px;
		height: 69px;
	}
	
	.home-link--upside {
		width: 450px;
		height: 84px;
	}
	
	.home-link--oversubscribed {
		width: 450px;
		height: 92px;
	}
	
	.home-link--new-yorker {
		width: 450px;
		height: 61px;
	}
	
	.home-link--talk-media {
		width: 450px;
		height: 77px;
	}
	
	.home--signature {
		float: none;
		margin: 30px auto;
		width: 200px;
	}
}

@media screen and (max-width: 600px) {

	body {
		font-size: 1rem;
		}
		
	h1 {
		font-size: 200%;
		}
		
	.corner-colors,
	.corner-colors-2 {
		width: 100px;
		height: 85px;
		}
		
	.page-container {
		margin: 30px 40px;
		}

} /* end 600px */


/* 10% */
.tenpct-container {
  width: 760px;
  max-width: 80%;
  font-family: Karla;
  font-weight: 400;
}

.tenpct-header {
  font-family: 'Playfair Display';
  font-weight: 600;
  font-size: 200%;
}

.tenpct-header span {
  font-weight: 700;
  color: #4E4C67;
}

.tenpct-container p {
  max-width: 700px;
}

.tenpct-container ol {
  max-width: 650px;
}

.tenpct-container ol li {
  margin-bottom: 10px;
}

.footnote-container {
  position: relative;
}

.footnote {
  font-family: 'Old Standard TT';
  line-height: 140%;
  font-size: 1rem;
  position: absolute;
  border-left: 5px solid #38A3A5;
  background: #f0f0f0;
  padding: 6px 0 6px 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 100;
  width: 400px;
  left: 720px;
}

.footnote-1 {
  top: 50px;
}

.footnote-2 {
  top: 50px;
}

.footnote-marker {
  color: #38A3A5;
  font-family: 'Concert One', cursive; 
  font-size: 60%;
  position: relative;
  top: -7px;
}

.footnote span {
  color: #38A3A5;
  font-family: 'Concert One', cursive;
}

@media (max-width: 1370px) {
  .footnote {
    width: 300px;
  }
}

@media (max-width: 1250px) {
  .tenpct-container {
    width: 600px
  }
  
  .footnote {
    left: 610px;
    width: 200px;
    padding-right: 10px;
  }
}

@media (max-width: 1000px) {
  .footnote {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
  }
}

@media (max-width: 700px) {
  .new-yorker-caption {
    margin: 0;
    max-width: 80%;
  }
}

@media (max-width: 500px) {
	.graph {
		padding-left: 30px;
		background-size: 15px auto, auto;
	}
	
	.home-link--candy {
		width: 340px;
		height: 52px;
	}
	
	.home-link--upside {
		width: 320px;
		height: 65px;
	}
	
	.home-link--oversubscribed {
		width: 330px;
		height: 62px;
	}

	.home-link--new-yorker {
		width: 310px;
		height: 42px;
	}
	
	.home-link--talk-media {
		width: 310px;
		height: 53px;
	}
	
	.home-link--about {
		width: 300px;
		height: 63px;
	}
}