html, body {
	margin: 0;
	padding: 0;
	}
	
body {
	background-color: #f7f7f7;
	font-family: "museo-sans-1", "museo-sans-2", Museo Sans, Helvetica, Arial, sans-serif;, sans-serif;
	font-weight: 300;
	color: #222222;
	line-height: 150%;
	font-size: 1.3rem;
	}

::selection {
	background-color: #2980b9;
	color: #ecf0f1;
	}

	
/* Home */
	
.graph {
	background-image: url('img/notebook-edge.png'), url('img/graphpaper.jpg');
	background-repeat: repeat-y, repeat;
	}
	
.home-block {
	margin-left: 100px;
	}

.home-block--hi-max-here {
	display: block;
	margin: 60px 0 0 0;
	max-width: 600px;
	width: 90%;
	}
	
.home-block--just-going-to-draw {
	margin: 60px 0 0 -10px;
	max-width: 800px;
	width: 90%;
	}
	
.home-block--cool-hr {
	margin: 60px 0 0 10px;
	max-width: 900px;
	width: 90%;
	}
	
.home-block--here-is-some-stuff {
	margin: 60px 0 0 0;
	max-width: 800px;
	width: 90%;
	}
	
.about-me {
	display: flex;
	margin: 60px 0 0 -50px;
	}

.about-me--me {
	width: 200px;
	height: 200px;
	}
	
.about-me--about-me-text {
	background-image: url('img/about-me-text.png');
	background-position: top left;
	background-size: 100% auto;
	text-indent: -9000px;
	width: 500px;
	height: 179px;
	}
	
.full-image-link {
	display: block;
	width: 100%;
	height: 100%;
	}
	
.brand-and-design-work {
	margin: 60px 0 0 0;
	width: 800px;
	height: 210px;
	background-image: url('img/brand-and-design-work.png');
	background-position: top left;
	background-size: 100% auto;
	text-indent: -9000px;
	}	
	
.essay-talk-box {
	margin: 60px 0 0 -70px;
	width: 1000px;
	display: flex;
	align-items: center;
	}

.essay-talk-box--essay {
	width: 500px;
	height: 110px;
	background-image: url('img/essay.png');
	background-position: top left;
	background-size: 100% auto;
	text-indent: -9000px;
	opacity: 0.8;
	}	

.essay-talk-box--talk {
	margin-left: 40px;
	width: 450px;
	height: 173px;
	background-image: url('img/talk.png');
	background-position: top left;
	background-size: 100% auto;
	text-indent: -9000px;
	}	

.new-yorker {
	margin: 60px 0 0 0;
	width: 700px;
	height: 214px;
	background-image: url('img/new-yorker.png');
	background-position: top left;
	background-size: 100% auto;
	text-indent: -9000px;
	}	

.home-block--cool-hr-2 {
	margin: 60px 0 0 0px;
	max-width: 900px;
	width: 90%;
	}

.home-block--other-projects {
	margin: 60px 0 0 -10px;
	width: 900px;
	max-width: 95%;
	}
	
.notable-projects-box {
	margin: 60px 0 0 -30px;
	width: 1000px;
	display: flex;
	align-items: center;
	}
	
.notable-projects-box--rebirth,
.notable-projects-box--millionaire,
.notable-projects-box--charlie {
	width: 33%;
	}
	
.notable-projects-box--charlie {
	background: blue;
	}
	
.notable-projects-box--rebirth-image {
	width: 70%;
	display: block;
	margin: 0 auto;
	}

.notable-projects-box--rebirth-link {
	background-image: url('img/rebirth-text.png');
	background-position: top left;
	background-size: 100% auto;
	text-indent: -9000px;
	width: 300px;
	height: 136px;
	margin: 0 auto;
	}	

.notable-projects-box--millionaire-link {
	background-image: url('img/millionaire-text.png');
	background-position: top left;
	background-size: 100% auto;
	text-indent: -9000px;
	width: 300px;
	height: 136px;
	margin: 0 auto;
	}	
	
.brand-and-design-work:hover,
.about-me--about-me-text:hover,
.essay-talk-box--essay:hover,
.essay-talk-box--talk:hover,
.new-yorker:hover,
.notable-projects-box--rebirth-link:hover,
.notable-projects-box--millionaire-link:hover {
	background-position: bottom left;
	}

.home-block--signature {
	float: right;
	width: 250px;
	margin-top: -100px;
	}
	
/* Pages */

h1, h2, h3 {
	font-family: "brandon-grotesque-1", "brandon-grotesque-2", Brandon Grotesque, Helvetica, Arial;
	line-height: 130%;
	}
	
h1 {
	font-size: 250%;
	}
	
p a {
	color: #2980b9;
	padding-top: 3px;
	}
	
p a:hover {
	color: #b4daee;
	background-color: #0a4683;
	text-decoration: none;
	}

.corner-colors {
	position: fixed;
	top: 0;
	left: 0;
	background-image: url('img/corner-colors.png');
	background-size: 100% auto;
	background-position: top left;
	background-repeat: no-repeat;
	width: 300px;
	height: 257px;
	z-index: 10;
	}
	
.corner-colors a,
.corner-colors a:hover {
	display: block;
	width: 50%;
	height: 50%;
	}
	
.page-container {
	margin-left: 250px;
	margin-top: 100px;
	max-width: 770px;
	}
	
.page-container--standard-image {
	width: 600px;
	border: 1px solid #bcb5be;
	}


/* Responsive */
@media screen and (max-width: 1000px) {

	.about-me {
		margin-left: 0;
		}

	.home-block {
		margin-left: 50px;
		}
		
	.brand-and-design-work {
		width: 600px;
		height: 158px;
		}
		
	.essay-talk-box {
		display: block;
		margin-left: 0;
		}
		
	.essay-talk-box--talk {
		margin-top: 30px;
		}
	
	.notable-projects-box {
		display: block;
		margin-left: 50px;
		}

} /* end 1000px */

@media screen and (max-width: 760px) {

	.about-me--about-me-text {
		width: 350px;
		height: 125px;
		margin-top: 30px;
		}
		
	.brand-and-design-work {
		width: 400px;
		height: 105px;
		}
		
	.new-yorker {
		width: 500px;
		height: 153px;
		}
		
	.home-block--signature {
		margin: 30px 0 0 50px;
		float: none;
		}
		
} /* end 760px */

@media screen and (max-width: 600px) {

	.about-me {
		display: block;
		}
	
	.essay-talk-box--essay {
		width: 350px;
		height: 77px;
		}	

	.essay-talk-box--talk {
		width: 350px;
		height: 135px;
		}	
	
	.new-yorker {
		width: 300px;
		height: 92px;
		}

} /* end 600px */