html, body {
	margin: 0;
	padding: 0
}
	
body {
	background: #F5FFC6;
	font-family: news-gothic-std, sans-serif;
	font-weight: 400;
}

a {
    color: #3185FC;
    text-decoration: none;
}

a:hover {
    background: #1A936F;
    color: #fff;
}

a.img-link {
    transition: opacity .2s ease;
    display: inline-block;
}

a.img-link:hover {
    background: none;
    opacity: 0.8;
}

#top, #bottom, #left, #right {
	background: #B4E1FF;
	position: fixed;
	z-index: 10;
}

#left, #right {
    top: 0;
    bottom: 0;
	width: 15px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}
		
#top, #bottom {
    left: 0;
    right: 0;
	height: 15px;
}
		
#top {
    top: 0;
}

#bottom {
    bottom: 0;
}
		
.name {
    font-family: news-gothic-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 6rem;
    color: #050517;
    transform: rotate(-3deg);
    position: fixed;
    z-index: 2;
    top: 10px;
    left: 10px;
    text-shadow: 3px 3px #FFACE4;
}

.container {
    background: #fff;
    width: 90%;
    min-height: 200px;
    margin: 100px auto 40px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 3;
}

.container-inner {
    width: 33%;
    padding: 30px;
    min-height: 300px;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.4;
}

.container-inner img {
    width: 100%;
    margin: 10px auto;
    display: block;
}

.container-inner h3 {
    text-align: center;
}

#lightbox {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.8); 
    text-align: center;
    display: none;
    z-index: 20;
}

#lightbox p {
    text-align: right; 
    color: #fff; 
    margin-right: 20px; 
    font-size: 12px; 
}

#lightbox img {
    box-shadow: 0 0 25px #111;
    -webkit-box-shadow: 0 0 25px #111;
    -moz-box-shadow: 0 0 25px #111;
    max-width: 1100px;
    width: 100%;
}

@media (max-width: 1000px) {
    .name {
        font-size: 4rem;
    }
  
  .container {
        flex: 2;
    }

    .container-inner {
        width: 50%;
    }

}

@media (max-width: 600px) {
    .name {
        font-size: 3rem;
    }
  
  .container {
        flex: 1;
    }

    .container-inner {
        width: 100%;
    }
    
    #top, #bottom, #left, #right {
        border-width: 5px;
    }
}

